<!DOCTYPE html>
{% spaceless %}

{% load static %}

<html lang="en-us" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{{ request.site.name }}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
        <meta name="author" content="{{ request.site.name }}">
        <meta name="description" content="{{ request.site.name }} searches the information leaked in the Ledger data breach.">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
        <meta property="og:type" content="website">
        <meta property="og:locale" content="en">
        <meta property="og:site_name" content="{{ request.site.name }}">
        <meta property="og:title" content="{{ request.site.name }}">
        <meta property="og:description" content="{{ request.site.name }} searches the information leaked in the Ledger data breach.">
        {# <meta property="og:image" content="{% static 'img/me.jpg' %}"> #}
        {# <meta property="og:image:width" content="450"> #}
        {# <meta property="og:image:height" content="450"> #}
        <meta property="og:url" content="http{% if request.is_secure %}s{% endif %}://{{ request.site.domain }}{{ request.get_full_path }}">
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div class="container mx-auto">

            <header class="header sr-only">
                <a href="{% url 'home' %}">{{ request.site.name }}</a>
            </header>

            <nav>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'search' %}">Search</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                </ul>
            </nav>

            {% block main %}
            {% endblock %}

            <footer class="footer">
                <p><small>&#169; {% now 'Y' %} {{ request.site.name }}.</small></p>
            </footer>

        </div>
    </body>
</html>
{% endspaceless %}